@font-face {
  font-family: 'NetflixFont';
  src: url('@font-face/NetflixSans-Bold.woff2') format('woff2'),
  url('@font-face/NetflixSans-Light.woff2') format('woff2'),
  url('@font-face/NetflixSans-Medium.woff2') format('woff2'),
  url('@font-face/NetflixSans-Regular.woff2') format('woff2');
}


/* Custom CSS for fullscreen iframes */
.iframe-container {
  position: relative;
  width: 80%; /* Center the visualization by reducing the width */
  margin: 0 auto; /* Center the visualization */
  padding-top: 60%; /* Adjust aspect ratio as needed */
}

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Custom CSS for sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; /* Center the text */
}

/* Custom CSS for section text */
.section-text {
  border: 1px solid #747473; /* Add border */
  padding: 20px; /* Add padding */
  margin-top: 20px; /* Add margin to the top */
}

/* Custom CSS for progress indicator */
.progress {
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.progress-bar {
  background-color: #747373;
}

/* Custom CSS for carousel control buttons */
.carousel-control-prev,
.carousel-control-next {
  top: 50%;
  transform: translateY(-50%);
  color: blue;
  background-color: transparent;
  border-color: blue;
  font-size: 30px; /* Increase the font size to make the button bigger */
  padding: 20px; /* Increase padding to make the button bigger */
  width: 60px; /* Increase width to make the button bigger */
  height: 60px; /* Increase height to make the button bigger */
  line-height: 60px; /* Center the icon vertically */

  transition: all 0.3s ease; /* Add transition effect */
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/* Custom CSS for carousel control icons */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  fill: rgb(255, 0, 0); /* Change the icon color */
}

/* Custom CSS for carousel control buttons on hover */
.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
  fill: #ff1c1c;
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
  fill: rgb(236, 13, 13);
  border-color: rgb(255, 0, 0);
}